<nav>
  <a class="logo" href="#">MacRumors Scraper</a>
  <div class="navLinks">
    <a href="/">Home</a>
    <a href="/articles">Saved Articles</a>
  </div>
  <button id="scrape" class="scrape">Get New Articles</button>
</nav>