<div class="modal note">
  <div class="modalWindow">
    <div class="closeModal">x</div>
    <div class="modalContent note">
      <form>
        <label>Title</label>
        <input type="text" id="noteTitle" />
        <label>Note</label>
        <textarea id="noteBody"></textarea>
        <button class="noteSubmit" id="noteSubmit">Add Note</button>
      </form>
    </div>
  </div>
</div>