<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>News Scraper</title>
		<link rel="stylesheet" href="/assets/css/reset.css">
		<!--<link rel="stylesheet" href="/assets/css/styles.css">-->
		<script src="https://code.jquery.com/jquery.js"></script>
		
	</head>
	<body>
		<div class="wrapper">
			<header>
				<h1>News Scraper</h1>
			</header>
			<div>
				{{{ body }}}
			</div>
		</div>
		<!--<script src="/assets/js/burgers.js"></script>-->
	</body>
</html>
